.footer {
  background: black;
  color: white;
  height: 480px;
  align-content: center;
}

.footer-container {
  max-width: 1300px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  align-items: start;
}
.footer-logo {
  width: 200px;
  margin-bottom: 30px;
}
.footer-col {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 300px;
}
.footer-col h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.footer-col h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-col a {
  color: white;
}
p a {
  display: inline-flex;
  gap: 8px;
  text-decoration: none;
}
.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.footer-line {
  margin-top: 20px;
  height: 2px;
  width: 220px;
  background: #ffd600;
}

.scroll-top {
  position: fixed;
  bottom: 60px;
  right: 30px;
  background: #ffd600;
  color: black !important;
  font-size: 24px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.icon {
  color: #ffd600;
}

@media (max-width: 768px) {
  .footer {
    height: max-content;
    padding: 50px 5%;
  }
  .footer-container {
    flex-direction: column;
    gap: 30px;
    height: max-content;
  }
  .footer-col {
    text-align: start;
    align-items: start;
  }

  .footer-col h2 {
    font-size: 32px;
  }

  .footer-col h3 {
    font-size: 20px;
  }
}
