# Logs
logs
*.log

# Dependencies
node_modules

# Build output
dist
dist-ssr

# Local env files
*.local
.env

# Vercel deploy config
.vercel

# Editor settings
.vscode/*
.idea
.DS_Store

# OS files
*.sw?